In [1]:
import numpy as np
import pandas as pd

from tqdm.notebook import tqdm

# Jones 17

### Read file

In [2]:
header = ['representation', 'number_of_crossings', 
          'table_number', 'is_alternating', 'signature', 'minimum_exponent',
          'maximum_exponent', 'coefficient_vector']

jones17 = pd.read_csv('raw/JonesForDS_DataSet_0_17.tsv', sep='\t',
                     header=None, names=header)

In [3]:
jones17.shape

(9755329, 8)

In [4]:
jones17.head()

,representation,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,coefficient_vector
0,1,0,1,True,0,0,0,"{0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
1,1,3,1,True,2,1,4,"{0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, ..."
2,1,4,1,True,0,-2,2,"{0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -1, 1, -1, 1, 0..."
3,1,5,1,True,4,2,7,"{0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ..."
4,1,5,2,True,2,1,6,"{0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -1, 2,..."

### Create a df of coefficients

In [5]:
num_coeff = len([int(x) for x in jones17.loc[0, 'coefficient_vector'].split('{')[1].split('}')[0].split(', ')])
print(num_coeff)

37

In [6]:
coefficients = np.zeros((len(jones17), num_coeff),  dtype=int)

In [7]:
coefficients.shape

(9755329, 37)

In [8]:
for i, row in tqdm(enumerate(jones17['coefficient_vector'].values)):
    row_parsed = np.array([int(x) for x in row.split('{')[1].split('}')[0].split(', ')])
    coefficients[i] = row_parsed

0it [00:00, ?it/s]

In [9]:
coefficients_df = pd.DataFrame(data=coefficients, columns=['J'+str(i) for i in range(37)])

In [10]:
len(coefficients_df)

9755329

In [11]:
coefficients_df.head()

,J0,J1,J2,J3,J4,J5,J6,J7,J8,J9,...,J27,J28,J29,J30,J31,J32,J33,J34,J35,J36
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# looking at the unknot the coeff of power 0 is in pos 11
# lets put it at J0
coefficients_df = pd.DataFrame(data=coefficients, columns=['J'+str(i) for i in range(-11, num_coeff-11)])

In [13]:
coefficients_df.columns

Index(['J-11', 'J-10', 'J-9', 'J-8', 'J-7', 'J-6', 'J-5', 'J-4', 'J-3', 'J-2',
       'J-1', 'J0', 'J1', 'J2', 'J3', 'J4', 'J5', 'J6', 'J7', 'J8', 'J9',
       'J10', 'J11', 'J12', 'J13', 'J14', 'J15', 'J16', 'J17', 'J18', 'J19',
       'J20', 'J21', 'J22', 'J23', 'J24', 'J25'],
      dtype='object')

In [14]:
# add rows from -25 to -12
for i in range(-25, -11):
    coefficients_df['J'+str(i)] = 0
    
# re-arrange columns
coefficients_df = coefficients_df[['J'+str(i) for i in range(-25, 26)]]

In [15]:
coefficients_df.head()

,J-25,J-24,J-23,J-22,J-21,J-20,J-19,J-18,J-17,J-16,...,J16,J17,J18,J19,J20,J21,J22,J23,J24,J25
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Create parsed df

In [16]:
jones17.drop(columns=['coefficient_vector'], inplace=True)

In [17]:
jones17['is_alternating'] = jones17['is_alternating'].astype(int)

In [18]:
jones17.head()

,representation,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent
0,1,0,1,1,0,0,0
1,1,3,1,1,2,1,4
2,1,4,1,1,0,-2,2
3,1,5,1,1,4,2,7
4,1,5,2,1,2,1,6

In [19]:
jones17_parsed = jones17.join(coefficients_df)

In [20]:
jones17_parsed.shape

(9755329, 58)

In [21]:
jones17_parsed.index *= 2

In [22]:
jones17_parsed.head()

,representation,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,J-25,J-24,J-23,...,J16,J17,J18,J19,J20,J21,J22,J23,J24,J25
0,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,1,1,2,1,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,4,1,1,0,-2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,5,1,1,4,2,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,5,2,1,2,1,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
%%time
jones17_parsed.to_csv("parsed/Jones_upto_17_RAW.csv", sep=',', 
                      header=True, index=False)

CPU times: user 3min 25s, sys: 12.8 s, total: 3min 37s
Wall time: 4min 30s

### Add mirrors

In [2]:
#jones17_parsed=pd.read_csv('parsed/Jones_upto_17_RAW.csv')

In [40]:
# create mirrors
jones17_MIRROR = jones17_parsed.copy()
jones17_MIRROR.index += 1

# invert signature
jones17_MIRROR.signature = jones17_MIRROR.signature*-1

# invert exponents
min_exp_temp = jones17_MIRROR.minimum_exponent.copy()

jones17_MIRROR.minimum_exponent = jones17_MIRROR.maximum_exponent*-1
jones17_MIRROR.maximum_exponent = min_exp_temp*-1

# rename columns
jones17_MIRROR.columns = ['representation', 'number_of_crossings', 'table_number', 'is_alternating',
                          'signature', 'minimum_exponent', 'maximum_exponent']+['J'+str(i) for i in range(25,-26,-1)]

In [41]:
jones17_parsed_MIRROR = jones17_parsed.append(jones17_MIRROR).sort_index()

### Save 17

In [42]:
jones17_parsed_MIRROR.shape

(19510658, 58)

In [43]:
jones17_parsed_MIRROR

,representation,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,J-25,J-24,J-23,...,J16,J17,J18,J19,J20,J21,J22,J23,J24,J25
0,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,1,1,2,1,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,3,1,1,-2,-4,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,4,1,1,0,-2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19510653,1,17,8053391,0,-6,-18,-3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510654,1,17,8053392,0,2,-4,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510655,1,17,8053392,0,-2,-11,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510656,1,17,8053393,0,2,-4,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510657,1,17,8053393,0,-2,-11,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
%%time
jones17_parsed_MIRROR.to_csv("parsed/Jones_upto_17_MIRRORS.csv", sep=',', 
                      header=True, index=False)

CPU times: user 7min 6s, sys: 36.3 s, total: 7min 42s
Wall time: 8min 39s

In [33]:
data = pd.read_csv('parsed/Jones_upto_17_MIRRORS.csv')
data.head()

,representation,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,J-25,J-24,J-23,...,J16,J17,J18,J19,J20,J21,J22,J23,J24,J25
0,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,1,1,2,1,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,3,1,1,-2,-4,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,4,1,1,0,-2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
data[data.is_alternating == 1]

,representation,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,J-25,J-24,J-23,...,J16,J17,J18,J19,J20,J21,J22,J23,J24,J25
0,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,1,1,2,1,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,3,1,1,-2,-4,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,4,1,1,0,-2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386055,1,16,379797,1,0,-8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1386056,1,16,379798,1,0,-8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1386057,1,16,379798,1,0,-8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1386058,1,16,379799,1,0,-8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1386059,1,16,379799,1,0,-8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
# %%time
# data[data.is_alternating == 1].to_csv("parsed/Jones_upto_17_MIRRORS_A.csv", sep=',', 
#                       header=True, index=False)

# data[data.is_alternating == 0].to_csv("parsed/Jones_upto_17_MIRRORS_NA.csv", sep=',', 
#                       header=True, index=False)

### Save 16

In [36]:
jones17_parsed_MIRROR[jones17_parsed_MIRROR.number_of_crossings <= 16].shape

(3403872, 58)

In [37]:
%%time
jones17_parsed_MIRROR[jones17_parsed_MIRROR.number_of_crossings <= 16].to_csv("parsed/Jones_upto_16_MIRRORS.csv", sep=',', 
                                                                header=True, index=False)

CPU times: user 1min 11s, sys: 3.55 s, total: 1min 15s
Wall time: 1min 19s

### Save 15

In [45]:
jones17_parsed_MIRROR[jones17_parsed_MIRROR.number_of_crossings <= 15].shape

(626462, 58)

In [46]:
%%time
jones17_parsed_MIRROR[jones17_parsed_MIRROR.number_of_crossings <= 15].to_csv("parsed/Jones_upto_15_MIRRORS.csv", sep=',', 
                                                                header=True, index=False)

CPU times: user 14.9 s, sys: 756 ms, total: 15.7 s
Wall time: 16.9 s

<br>
<br>
<br>
<br>
<br>

# Alexander

In [6]:
header = ['N/A_1', 'number_of_crossings', 'table_number', 'is_alternating',
          'signature', 'minimum_exponent', 'maximum_exponent', 'coefficient_vector']

In [7]:
alexander17 = pd.read_csv('raw/AlexanderForDS_DataSet_0_17.tsv', sep='\t',
                          header=None, names=header)

In [8]:
alexander17.shape

(9755329, 8)

In [9]:
alexander17.head()

,N/A_1,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,coefficient_vector
0,1,0,1,True,0,0,0,"{0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
1,1,3,1,True,2,1,4,"{0, 0, 0, 0, 0, 0, 0, 1, -1, 1, 0, 0, 0, 0, 0,..."
2,1,4,1,True,0,-2,2,"{0, 0, 0, 0, 0, 0, 0, -1, 3, -1, 0, 0, 0, 0, 0..."
3,1,5,1,True,4,2,7,"{0, 0, 0, 0, 0, 0, 1, -1, 1, -1, 1, 0, 0, 0, 0..."
4,1,5,2,True,2,1,6,"{0, 0, 0, 0, 0, 0, 0, 2, -3, 2, 0, 0, 0, 0, 0,..."

### Create a df of coefficients

In [10]:
num_A_coeff = len([int(x) for x in alexander17.loc[0, 'coefficient_vector'].split('{')[1].split('}')[0].split(', ')])
print(num_A_coeff)

17

In [11]:
coefficients = np.zeros((len(alexander17), num_A_coeff),  dtype=int)
print(coefficients.shape)

(9755329, 17)

In [12]:
for i, row in tqdm(enumerate(alexander17['coefficient_vector'].values)):
    row_parsed = np.array([int(x) for x in row.split('{')[1].split('}')[0].split(', ')])
    coefficients[i] = row_parsed

0it [00:00, ?it/s]

In [13]:
coefficients_df = pd.DataFrame(data=coefficients, columns=['A'+str(i) for i in range(num_A_coeff)])

In [14]:
print(coefficients_df.shape)

(9755329, 17)

In [15]:
coefficients_df.head()

   A0  A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  A11  A12  A13  A14  A15  A16
0   0   0   0   0   0   0   0   0   1   0    0    0    0    0    0    0    0
1   0   0   0   0   0   0   0   1  -1   1    0    0    0    0    0    0    0
2   0   0   0   0   0   0   0  -1   3  -1    0    0    0    0    0    0    0
3   0   0   0   0   0   0   1  -1   1  -1    1    0    0    0    0    0    0
4   0   0   0   0   0   0   0   2  -3   2    0    0    0    0    0    0    0

### Create parsed df

In [16]:
alexander17.drop(columns=['coefficient_vector'], inplace=True)
alexander17['is_alternating'] = alexander17['is_alternating'].astype(int)
alexander17_parsed = alexander17.join(coefficients_df)

In [17]:
print(alexander17_parsed.shape)

(9755329, 24)

In [18]:
alexander17_parsed.head()

,N/A_1,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,A0,A1,A2,...,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,3,1,1,2,1,4,0,0,0,...,1,-1,1,0,0,0,0,0,0,0
2,1,4,1,1,0,-2,2,0,0,0,...,-1,3,-1,0,0,0,0,0,0,0
3,1,5,1,1,4,2,7,0,0,0,...,-1,1,-1,1,0,0,0,0,0,0
4,1,5,2,1,2,1,6,0,0,0,...,2,-3,2,0,0,0,0,0,0,0

### Save 17

In [19]:
alexander17_parsed.shape

(9755329, 24)

In [20]:
%%time
alexander17_parsed.to_csv("parsed/Alexander_upto_17_RAW.csv", sep=',', 
                          header=True, index=False)

CPU times: user 2min 11s, sys: 7.74 s, total: 2min 19s
Wall time: 3min 31s

### Save 16

In [ ]:
alexander17_parsed[alexander17_parsed.number_of_crossings <= 16].shape

In [ ]:
%%time
alexander17_parsed[alexander17_parsed.number_of_crossings <= 16].to_csv("parsed/Alexander16_parsed.csv", sep=',', 
                                                                        header=True, index=False)

### Save 15

In [ ]:
alexander17_parsed[alexander17_parsed.number_of_crossings <= 15].shape

In [ ]:
%%time
alexander17_parsed[alexander17_parsed.number_of_crossings <= 15].to_csv("parsed/Alexander15_parsed.csv", sep=',', 
                                                                        header=True, index=False)

<br>
<br>
<br>
<br>
<br>
<br>

# Torus

In [ ]:
header = ['representation', 'number_of_crossings', 
          'table_number', 'is_alternating', 'signature', 'minimum_exponent',
          'maximum_exponent', 'coefficient_vector']

In [ ]:
torus = pd.read_csv('raw/TorusKnotsForDS_2000.tsv', sep='\t',
                          header=None, names=header)

In [ ]:
torus.head()

### Create a df of coefficients

In [ ]:
num_T_coeff = len([int(x) for x in torus.loc[0, 'coefficient_vector'].split('{')[1].split('}')[0].split(', ')])
print(num_T_coeff)

In [ ]:
coefficients = np.zeros((len(torus), num_T_coeff),  dtype=int)
print(coefficients.shape)

In [ ]:
for i, row in tqdm(enumerate(torus['coefficient_vector'].values)):
    row_parsed = np.array([int(x) for x in row.split('{')[1].split('}')[0].split(', ')])
    coefficients[i] = row_parsed

In [ ]:
coefficients_df = pd.DataFrame(data=coefficients, columns=['T'+str(i) for i in range(num_T_coeff)])

### Create parsed df

In [ ]:
torus.drop(columns=['coefficient_vector'], inplace=True)
torus['is_alternating'] = torus['is_alternating'].astype(int)
torus_parsed = torus.join(coefficients_df)

In [ ]:
len(torus_parsed.signature.unique())

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(8,5))
plt.hist(torus_parsed.number_of_crossings)
plt.xlabel('number of crossings')
plt.ylabel('count')
plt.title('torus 2000')
plt.savefig('torus_2000_crossings_hist.png')

In [ ]:
plt.figure(figsize=(8,5))
plt.hist(torus_parsed.signature)
plt.xlabel('signature')
plt.ylabel('count')
plt.title('torus 2000')
plt.savefig('torus_2000_signature_hist.png')

In [ ]:
torus_parsed.number_of_crossings.hist(ylabel='number of crossings')

In [ ]:
torus_parsed.number_of_crossings.describe()

In [ ]:
torus_parsed.signature.describe()

In [ ]:
print(torus_parsed.shape)
torus_parsed.head()

In [ ]:
%%time
torus_parsed.to_csv("parsed/TorusKnots_2000_parsed.csv", sep=',', 
                          header=True, index=False)

<br>
<br>
<br>
<br>
<br>
<br>

# Z0

In [ ]:
header = ['representation', 'number_of_crossings', 
          'table_number', 'is_alternating', 
          'signature', 'minimum_exponent',
          'maximum_exponent', 'coefficient_vector']

In [ ]:
z0 = pd.read_csv('raw/AlexanderForDS_DataSet_0_16.tsv', sep='\t',
                 header=None)

In [ ]:
z0

In [ ]:
z0 = pd.read_csv('raw/Z0ForDS_3_15.tsv', sep='\t',
                     header=None) 
z0.drop(columns=[0], inplace=True)

In [ ]:
print(z0.shape)
z0.head()

In [ ]:
z0[0].unique()

<br>
<br>
<br>
<br>
<br>
<br>

# HomflyPT

In [2]:
header = ['N/A_1', 'number_of_crossings', 'table_number',
          'is_alternating', 'signature', 'is_mirrored',
          's_invariant', 'minimum_exponent', 'maximum_exponent', 'coefficient_vector']

homfly = pd.read_csv('raw/HomflyPtForDS_DataSet_s_0_15.tsv', sep='\t',
                     header=None, names=header) 

homfly.drop(columns=['N/A_1'], inplace=True)

In [3]:
print(homfly.shape)
homfly.head()

(313231, 9)

,number_of_crossings,table_number,is_alternating,signature,is_mirrored,s_invariant,minimum_exponent,maximum_exponent,coefficient_vector
0,0,1,True,0,False,0,0,0,"{{0, 0, 0, 0, 0, 0, 0, 0}, {0, 0, 0, 0, 0, 0, ..."
1,3,1,True,2,True,2,1,4,"{{0, 0, 0, 0, 0, 0, 0, 0}, {0, 0, 0, 0, 0, 0, ..."
2,4,1,True,0,False,0,-2,2,"{{0, 0, 0, 0, 0, 0, 0, 0}, {0, 0, 0, 0, 0, 0, ..."
3,5,1,True,4,True,4,2,7,"{{0, 0, 0, 0, 0, 0, 0, 0}, {0, 0, 0, 0, 0, 0, ..."
4,5,2,True,2,True,2,1,6,"{{0, 0, 0, 0, 0, 0, 0, 0}, {0, 0, 0, 0, 0, 0, ..."

### Create a df of coefficients

In [4]:
np.array([s.split(', ') for s in 
          homfly.loc[1, 'coefficient_vector'].replace('{', '').replace('}}', '').split('}, ')],
        dtype=np.int16)

array([[ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [-1,  0,  0,  0,  0,  0,  0,  0],
       [ 2,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0]], dtype=int16)

In [5]:
num_H_coeff = len(homfly.loc[0, 'coefficient_vector'].replace('{', '').replace('}', '').split(', '))

coefficients = np.zeros((len(homfly), num_H_coeff),  dtype=int)
print(coefficients.shape)

(313231, 112)

In [6]:
for i, row in tqdm(enumerate(homfly['coefficient_vector'].values)):
    row_parsed = np.array([int(x) for x in row.replace('{', '').replace('}', '').split(', ')])
    coefficients[i] = row_parsed

0it [00:00, ?it/s]

In [7]:
coeff_names = ['a'+str(a)+'_'+'z'+str(z) for a in range(18, -10, -2) for z in range(0, 16, 2)]
coefficients_df = pd.DataFrame(data=coefficients, columns=coeff_names)

In [8]:
(coefficients_df != 0).astype(int).sum(axis=0).sort_values().head(31)

a6_z14     0
a8_z14     0
a-8_z12    0
a4_z14     0
a2_z14     0
a0_z14     0
a-2_z12    0
a-2_z14    0
a-4_z8     0
a-4_z10    0
a10_z14    0
a-4_z12    0
a-6_z6     0
a-6_z8     0
a-6_z10    0
a-6_z12    0
a-6_z14    0
a-8_z4     0
a-8_z6     0
a-8_z8     0
a-8_z10    0
a-4_z14    0
a12_z14    0
a-8_z14    0
a18_z8     0
a18_z14    0
a18_z12    0
a18_z6     0
a16_z14    0
a18_z10    0
a14_z14    1
dtype: int64

In [9]:
homfly.drop(columns=['coefficient_vector', 'is_mirrored', 
                     'maximum_exponent', 'minimum_exponent'], inplace=True)
homfly['is_alternating'] = homfly['is_alternating'].astype(int)
homfly_parsed = homfly.join(coefficients_df)

In [10]:
homfly_parsed.shape

(313231, 117)

In [11]:
homfly_parsed.head()

,number_of_crossings,table_number,is_alternating,signature,s_invariant,a18_z0,a18_z2,a18_z4,a18_z6,a18_z8,...,a-6_z12,a-6_z14,a-8_z0,a-8_z2,a-8_z4,a-8_z6,a-8_z8,a-8_z10,a-8_z12,a-8_z14
0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,1,1,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,1,1,4,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2,1,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
%%time
homfly_parsed.to_csv("parsed/HomflyPt_upto_15.csv", sep=',', 
                          header=True, index=False)

CPU times: user 14.9 s, sys: 625 ms, total: 15.5 s
Wall time: 17.8 s

In [13]:
# add columns from a-10 to a-18
for a in range(-10, -20, -2): 
    for z in range(0, 16, 2):
        homfly_parsed['a'+str(a)+'_'+'z'+str(z)] = 0

In [14]:
homfly_parsed.index *= 2

In [15]:
homfly_parsed

,number_of_crossings,table_number,is_alternating,signature,s_invariant,a18_z0,a18_z2,a18_z4,a18_z6,a18_z8,...,a-16_z12,a-16_z14,a-18_z0,a-18_z2,a-18_z4,a-18_z6,a-18_z8,a-18_z10,a-18_z12,a-18_z14
0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,5,1,1,4,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5,2,1,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626452,15,253289,0,4,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626454,15,253290,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626456,15,253291,0,6,8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626458,15,253292,0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626460,15,253293,0,4,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# create mirrors
homfly_MIRROR = homfly_parsed.copy()
homfly_MIRROR.index += 1

# invert signature and s-inv
homfly_MIRROR['signature'] = homfly_MIRROR['signature']*-1
homfly_MIRROR['s_invariant'] = homfly_MIRROR['s_invariant']*-1

# rename columns
homfly_MIRROR.columns = ['number_of_crossings', 'table_number', 'is_alternating',
                          'signature', 's_invariant']+\
                          ['a'+str(a)+'_'+'z'+str(z) for a in range(-18, 20, 2) for z in range(0, 16, 2)]

In [21]:
homfly_parsed_MIRROR = homfly_parsed.append(homfly_MIRROR).sort_index()

In [22]:
homfly_parsed_MIRROR.shape

(626462, 157)

In [24]:
homfly_parsed_MIRROR.head()

,number_of_crossings,table_number,is_alternating,signature,s_invariant,a18_z0,a18_z2,a18_z4,a18_z6,a18_z8,...,a-16_z12,a-16_z14,a-18_z0,a-18_z2,a-18_z4,a-18_z6,a-18_z8,a-18_z10,a-18_z12,a-18_z14
0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1,1,-2,-2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
for i,v in homfly_parsed_MIRROR.iloc[12].iteritems():
    if v!=0:
        print(i, v)

number_of_crossings 6
table_number 2
is_alternating 1
signature 2
s_invariant 2
a4_z0 1
a4_z2 1
a2_z0 -2
a2_z2 -3
a2_z4 -1
a0_z0 2
a0_z2 1

In [26]:
for i,v in homfly_parsed_MIRROR.iloc[13].iteritems():
    if v!=0:
        print(i, v)

number_of_crossings 6
table_number 2
is_alternating 1
signature -2
s_invariant -2
a0_z0 2
a0_z2 1
a-2_z0 -2
a-2_z2 -3
a-2_z4 -1
a-4_z0 1
a-4_z2 1

In [29]:
%%time
homfly_parsed_MIRROR.to_csv("parsed/HomflyPt_upto_15_MIRRORS.csv", sep=',', header=True, index=False)

CPU times: user 30.4 s, sys: 1.06 s, total: 31.5 s
Wall time: 33.1 s